*.sw[op]
*.core
compile_commands.json
.cache
.bob
.bootstrap
.test-out
.test-out/test-bob
.test-out/test-bob2
tests/deps/build.fl
tests/static_link/custom_l/custom-libs/
tests/static_link/shared/fake-libs/
.deps
