bin
sh-bin
*.sw[op]
*.core
*.zpk
Cargo.toml
Cargo.lock
target
compile_commands.json
.cache
.bob
.bootstrap
.test-out
tests/deps/build.fl
tests/static_link/custom_l/custom-libs/
tests/static_link/shared/fake-libs/
.deps
