name: Run tests

on: [push, workflow_dispatch]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up compiler
        uses: egor-tensin/setup-clang@v1
        with:
          version: latest
          platform: x64
      - name: Run tests
        run: sh tests.sh
      - name: Set up tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 5
        with:
          limit-access-to-actor: true
          detached: true

  run_tests_macos:
    strategy:
      matrix:
        os: [macos-15-intel, macos-latest] # 'macos-latest' is arm64.
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: sh tests.sh
      - name: Set up tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 5
        with:
          limit-access-to-actor: true
          detached: true
